<section id="thoughts">
  <div class="row">
    <div class="inner-container" id="thoughts-container">
      <h4 class="inner-header">Thoughts</h4>
      <div class="post">
        <% if @post.nil? %>
          <p>Hmm, I guess I'm not thinking about much yet. Maybe you should bug me to put something here.</p>
        <% else %>
          <% if @current_user && @current_user.user_type = 1 %>
          <%= button_to "Delete", "/posts/#{@post.id}", method: :delete, class: "form-button delete-button", data: { confirm: "Are you sure?" }%>
          <% end %>
          <h1><%= @post.title %></h1>
          <p class="post-date"><%= @post.created_at.strftime("%b %d, %Y") %></p>
          <section class="post-body">
            <%= raw @post.content %>
          </section>
        <% end %>
      </div>
      <div class="horizontal-rule"></div>
      <div id="archives-container">
        <h3 class="archive-header">Archives</h3>
        <ul class="archives">
          <% for post in @all_posts %>
            <% if @post and post.id == @post.id %>
              <% next %>
            <% end %>
            <li><a href="/thoughts/<%= post.id %>"><%= post.title %></a> - <span class="archive-date"><%= post.created_at.strftime("%b %d, %Y") %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
