<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<div id="main-container">
  <% if !@current_user.nil? %>
    <p><%= @current_user.first_name %></p>
  <% end %>
	<%= yield %>
</div>
<%= render "layouts/footer" %>

</body>
</html>
